# Ignore Sam's Project Build Directory
Sams_Project-build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Reports
Interim-Report/.*
Interim-Report/*.aux
Interim-Report/*.bbl
Interim-Report/*.blg
Interim-Report/*.log
Interim-Report/*.out
Interim-Report/*.pdf
Interim-Report/*.toc

Final-Report/.*
Final-Report/*.aux
Final-Report/*.bbl
Final-Report/*.blg
Final-Report/*.log
Final-Report/*.out
Final-Report/*.pdf
Final-Report/*.toc
