# MRI Datasets
Data/

# Slicer
Slicer/

# Sam's Project
Sams_Project-build/

# Any build directory (in particular the VTK-Examples)
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
