# MRI Datasets
Data/

# VTK
VTK/
VTK-Build/

# ITK
ITK/
ITK-Build/

# MITK
MITK/
MITK-superbuild/

# Slicer
Slicer/

# Any build directory (in particular the VTK-Examples)
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

ImageToVTKImageFilter
